/*
.navbar {
    position: fixed;
    width: 100%;
    background-color: #3A5BA0;
    z-index: 1;
    height: 60px;
}


.nav-item {
    display: inline-block;
    padding: 20px;
    transition: 1s;
}

    .nav-item a:hover {
        background-color: #FFF8F0;
        color: #3A5BA0;
    }

    .nav-item a {
        padding: 20px;
        text-decoration: none;
        color: #FFF8F0;
        font-size: 15px;
        letter-spacing: 2px;
        transition: all 1s;
    }

*/
/*.navbar {
    background-color: #3A5BA0;
    width: 100%;
}
.navbar a{
    color:white;
    font-size : small;
}
.nav-item{
    margin-right : 6px;
}
.main-a{*/
    /*background-image:url(../../assets/s.png);*/
    /*background-color: aqua;
    width : 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}*/
