@{
    ViewData["Title"] = "Mariano Rodriguez";
}

<div class="container-fluid col-md-12">
    <div class="row" id="home">
        <div class="container1 col-md-6" style="text-align: center;">
        <div class="half-section">
            <div class="avatar">
                <img src="./assets/avatar.jpeg" class="rounded-3 mb-3" style="width: 200px;"
                     alt="Avatar">
                <h5>Analista Programador Universitario</h5>
            </div>
        </div>
 </div>
    <div class="container2 col-md-6">
      <div class="half-section text-section">
      <div class="introduction">
        <h1 class="title">Hola!, <br>Soy Mariano Rodriguez </h1>
        <ul class="socials">
          <li><a class="socials-icon" href="https://github.com/nanoo17"><i class="bi bi-github"></i></a></li>
          <li><a class="socials-icon" href=""><i class="bi bi-linkedin"></i></a></li>
          <li><a class="socials-icon" href=""><i class="bi bi-twitter"></i></a></li>
          <li><a class="socials-icon" href="https://www.facebook.com/MarianoRodriguezBOCA"><i
                class="bi bi-facebook"></i></a></li>
          <li><a class="socials-icon" href=""><i class="bi bi-instagram"></i></a></li>
        </ul>

                    <p class="description">
                       Analista Programador Universitario egresado de la Universidad Nacional de Jujuy <br> Déjame
          contarte
          un poco sobre mi, sigue deslizando!</p>
      </div>

    </div>
 </div>
 </div>
</div>


<div class="container-fluid col-md-12">
    <div class="row" id="sobre">
        <div class="container2 col-md-6">
            <div class="half-section">
                <p class="description" >
                    Soy Analista Programador y me
                    especializo en desarrollo de
                    aplicaciones en back-end.
                    He participado en distintos proyectos
                    tanto en solitario como trabajando en
                    equipo.
                    Soy una persona sociable y proactiva
                    con bastante disciplina para lograr
                    todo lo que me propongo y alcanzar
                    nuevas metas en mi carrera
                </p>
                <p class="title" style="font-size:20px">Fortalezas</p>
                <ul class="list-group ps-5 description" >
                    <li>Liderazgo</li>
                    <li>Responsabilidad</li>
                    <li>Comunicación</li>
                    <li>Trabajo en Equipo</li>
                    <li>Flexibilidad</li>
                </ul>
            </div>
        </div>
        <div class="container1 col-md-6">
            <div class="half-section text-section">
                <div class="introduction" style="text-align: center;">
                    <h1 class="title" style="color: #3A5BA0">Un Poco Sobre Mi </h1>
                    
                    <div class="avatar">
                        <img src="./assets/nano.png" class="rounded-3 mb-3" style="width: 200px;"
                             alt="Avatar">
                    </div>
                   
                </div>

            </div>
        </div>
    </div>
</div>



<div class="container-fluid py-5" id="exp">
    <div class="container">
        <div class=" d-flex align-items-center justify-content-center ">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Conocimientos</h1>
            <h1 class="position-absolute text-uppercase text-primary">Educación y Experiencia</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <h3 class="mb-4">Mi Educación</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="mb-4">
                            <i class="far fa-dot-circle text-primary " style="top: 2px; left: -35px; font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">Técnico Superior en Informática</h5>
                        <p class="mb-2"><strong>Escuela de Minas Dr Horacio Carrillo - UNJU</strong> | <small>2016-2021</small></p>
                        <p>Técnico en Informática: esta especialidad está articulada con la carrera de Analista Programador Universitario de la Facultad de Ingeniería de la UNJu.</p>
                    </div>
                    <div class=" ex-me mb-4">
                        <i class="far fa-dot-circle text-primary " style="top: 2px; left: -35px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">Analista Programador Universitario</h5>
                        <p class="mb-2"><strong>Universidad Nacional de Jujuy</strong> | <small>2022</small></p>
                        <p>El título profesional obtenido por el Egresado de la carrera de Analista Programador Universitario, lo habilita para: Programar, documentar, instalar, poner en marcha, operar, modificar, probar, medir, mantener y transformar software en general o incluido en sistemas informáticos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="mb-4">Mi Experiencia</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class=" ex-me mb-4">
                        <i class="far fa-dot-circle text-primary " style="top: 2px;left: -35px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">Pasante</h5>
                        <p class="mb-2"><strong>Facultad de Ciencias Económicas de la Universidad
Nacional de Jujuy</strong> | <small>2022</small></p>
                        <p>
                            Tareas:
                            • Digitalización de Documentos
                            • Ordenación de Documentos
                            • Corrección y Mejoras en los documentos del sistema
                        </p>
                    </div>
                    <div class=" ex-me mb-4">
                        <i class="far fa-dot-circle text-primary " style="top: 2px;left: -35px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">Desarrollador</h5>
                        <p class="mb-2">
                            <strong>
                                Cooperativa de Trabajo Jujuy | 2021 – 2022
                            </strong> | <small> 2021-2022</small>
                        </p>
                        <p>Tareas:
• Desarrollo de Software a Medida para Gestión de Empleados
• Back-End con Node JS
• Modelado de Base de Datos con Prisma ORM
• Front-End con Bootstrap</p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid row" id="skill">
    <div class=" d-flex align-items-center justify-content-center mb-1">
        <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Habilidades</h1>
        <h1 class="position-absolute text-uppercase text-primary">Habilidades</h1>
    </div>
    <div class="container col-md-5">
        <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                        <div class ="d-flex justify-content-start">
                             <img height="30px" width="auto" src="~/assets/tech-icons/icon-html.svg">
                            <h6 class="font-weight-bold">HTML</h6>
                            </div>
                            
                            <h6 class="font-weight-bold">75%</h6>
                        </div>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar  bg-danger progress-bar-striped" style="width: 75%"></div>
            </div>
   </div>
</div>
    <div class="container col-md-5">
        <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-start">
                    <img height="30px" width="auto" src="~/assets/tech-icons/icon-nodejs.svg">
                    <h6 class="font-weight-bold">NodeJS</h6>
                </div>
                            <h6 class="font-weight-bold">75%</h6>
                        </div>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success progress-bar-striped" style="width: 75%"></div>
            </div>
   </div>
        </div>
    <div class="container col-md-5">
        <div class="skill mb-4">
            <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-start">
                    <img height="30px" width="auto" src="~/assets/tech-icons/icon-css.svg">
                    <h6 class="font-weight-bold">CSS</h6>
                </div>
                <h6 class="font-weight-bold">55%</h6>
            </div>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped bg-info" style="width: 55%"></div>
            </div>
        </div>
    </div>
    <div class="container col-md-5">
        <div class="skill mb-4">
            <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-start">
                    <img height="30px" width="auto" src="~/assets/tech-icons/icons8-c-sharp-logo-480.svg">
                    <h6 class="font-weight-bold">C#</h6>
                </div>
                <h6 class="font-weight-bold">70%</h6>
            </div>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped" style="width: 70%"></div>
            </div>
        </div>
    </div>
    <div class="container col-md-5 ">
        <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                             <div class="d-flex justify-content-start">
                    <img height="30px" width="auto" src="~/assets/tech-icons/icon-angular.svg">
                    <h6 class="font-weight-bold">Angular</h6>
                </div>
                            <h6 class="font-weight-bold">70%</h6>
                        </div>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-danger progress-bar-striped" style="width: 70%"></div>
            </div>
   </div>
        </div>
        <div class="container col-md-5">
        <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-start">
                    <img height="30px" width="auto" src="~/assets/tech-icons/icon-mysql.svg">
                    <h6 class="font-weight-bold">MySQL</h6>
                </div>
                            <h6 class="font-weight-bold">60%</h6>
                        </div>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped bg-warning" style="width: 60%"></div>
            </div>
   </div>
        </div>
</div>

<div class="container" id="proyectos">
    <div class=" d-flex align-items-center justify-content-center mb-1">
        <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Proyectos</h1>
        <h1 class="position-absolute text-uppercase text-primary">Proyectos</h1>
    </div>
    <div class="row">
    <div class="col-md-4 ">
        <div class="card">
  <img src="~/assets/control.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Control de Empleados</h5>
                    <p class="card-text">Aplicacion para el control, carga de datos y seguimiento de empleados de una cooperativa</p>
                    <a href="https://github.com/nanoo17/control-de-empleados" class="btn btn-primary">Ver Más</a>
  </div>
</div>
    </div>
    <div class="col-md-4 ">
        <div class="card">
  <img src="~/assets/optica.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Software para Óptica</h5>
    <p class="card-text">Aplicacion para la gestión de insumos de una óptica.</p>
                    <a href="https://github.com/nanoo17/OpticaApp" class="btn btn-primary">Ver Más</a>
  </div>
</div>
    </div>
    <div class="col-md-4 ">
        <div class="card">
  <img src="~/assets/muebleria.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Software para Muebleria</h5>
    <p class="card-text">Aplicacion para gestión de stock y ventas de una Muebleria.</p>
                    <a href="https://github.com/nanoo17/Sistema-Muebleria" class="btn btn-primary">Ver Más</a>
  </div>
</div>
    </div>
    </div>
</div>

@*formulario de contacto*@
<div class="container-fluid col-md-8" id="contacto">
        <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Contacto</h1>
                <h1 class="position-absolute text-uppercase text-primary">Contacto</h1>
            </div>
    <div class="row justify-content-center">

        <div class="col-md-6">
 <input type="text" class="form-control p-4" id="name" placeholder="Nombre y Apellido"
                                        required="required" data-validation-required-message="Por favor ingresa tu nombre y tu apellido" />
                                    <p class="help-block text-danger"></p>
</div>
<div class=" col-md-6">
  <input type="email" class="form-control p-4" id="email" placeholder="Correo Electronico"
                                        required="required" data-validation-required-message="Por favor ingresa tu correo" />
                                    <p class="help-block text-danger"></p>
</div>
<div class="col-md-12">
            <input type="text" class="form-control p-4" id="subject" placeholder="Asunto"
                   required="required" data-validation-required-message="Por favor ingresa un asunto" />
            <p class="help-block text-danger"></p>
</div>
<div class="col-md-12">
            <textarea class="form-control py-3 px-4" rows="5" id="mensaje" placeholder="Mensaje"
                                    required="required"
                                    data-validation-required-message="Ingresa un mensaje"></textarea>
                                <p class="help-block text-danger"></p>
</div>
<div class="justify-content-center">
                                <button class="btn btn-outline-primary" type="submit" id="enviar">Enviar Mensaje</button>
                            </div>

            </div>
    </div>

    